<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="generator" content="{{app_version}}">
	<title>{{title}}</title>

[[assets_head]]

</head>
<body>
	{{#auth}}
	<ul>
		{{#loaded}}
		<li><a href="{{log_out_url}}">Log Out</a></li>
		{{/loaded}}
		{{^loaded}}
		{{#log_in_urls}}
			<li><a href="{{facebook}}">Log In With FaceBook</a></li>
			<li><a href="{{github}}">Log In With GitHub</a></li>
		{{/log_in_urls}}
		{{/loaded}}
	</ul>
	{{/auth}}
	<h1>{{title}}</h1>
	{{#notices}}
		<div class="notice {{type}}">{{message}}</div>
	{{/notices}}
	{{>body}}
	[[assets_body]]
</body>
</html>
